@tailwind base;
@tailwind components;
@tailwind utilities;
html{scroll-behavior:smooth}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth
}
.Active{
  border-bottom: 2px solid red;
}

.border{
 border: 1px solid red;
}
.swiper-pagination-bullet-active {
  background-color: rgb(239, 90, 90) !important;
 
}

h1{
  text-transform: capitalize;
}

.mySwiper-1 {
  width: 240px;
  height: 320px;
}

.swiper-slide-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  scale: 1;
  transition: all 0.5s !important;
  cursor: pointer;
  
}
.swiper-slide-1:hover{
  border-radius: 34px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.swiper-slide-1:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide-1:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide-1:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide-1:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide-1:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide-1:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide-1:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide-1:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide-1:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide-1:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}




.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgb(249, 47, 21);
  width: 180px;
  height: 180px;
  animation: spin 1s linear infinite;
}
.mainLoader{
  height: 100vh;
}


/* Add animation to "page content" */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
